/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
body {
    font-family: "Poppins", sans-serif;
    /* background-color: #fef7ff; */
}

.header {
    padding: 15px;
    /* text-align: center; */
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    /* background-color: #0658c9; */
    /* color: white; */
}

.offcanvas {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}
.offcanvas.show {
    transform: translateX(0);
}

.banner {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.breadcrumbs {
    background-image: url(../images/mockup.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.inner-banner {
    padding-top: 150px;
}

.bg-competition {
    background-image: url(../images/4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.feature {
    background-image: url(../images/5.png);
    background-size: cover;
    background-position: top center;
}

.image-welcome {
    background-image: url(../images/3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
